body{
    padding: 0;
    margin: 0;
    font-family: system-ui;
    background: rgb(8, 12, 21);
}
.content{
    background: rgb(8, 12, 21);
    width:100%;
    height: 100%;
    margin: auto;
    position: absolute;
    overflow-y: scroll;
    
}
.content::-webkit-scrollbar{
    display: none;
}
.content .search-box{
    width:55%;
    left: 30px;
    margin: auto;
    border: 1.5px solid grey;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content .search-box input{
    border: none;
    box-shadow: none;
    outline:none;
    font-size: 18px;
    padding: 12px;
    width: 100%;
    border-radius: 15px;
}
.pdf-list{
    padding: 20px 0;
}
.fils{
    display: flex;
    align-items: center;
    padding: 15px;
}
.fils img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: contain;
}
.fils-name{
color: white;
}

.logo{
    margin: auto;
    position: absolute;
    left:50px;
    width: 150px;
   
}
.lenc{
    margin: auto;
    position: absolute;
    width: 50px;
    left:72%;
}

@media screen and (max-width:768px){
    
    .logo{
        margin: auto;
        position: absolute;
        top:5px;
        left:5px;
        width: 80px;
      
       
    }
    @media screen and (max-width:401px){

        .logo{
            margin: auto;
            position: absolute;
            top:5px;
            left:5px;
            width: 75px;
          
           
        }
        
        
    }
}
